{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'app/index.css'%}">
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'app/index.css' %}">
</head>
<body >

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
                        <i id = "sideopen" class = "fa fa-bars fa-2x mr-3 ml-3" onclick="openNav()"></i>

                    <span style="margin-left: 500px"> NewsBuster </span>

               <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button> -->

              <div id="mySidenav" class="sidenav">
              <a  class="closebtn" onclick="closeNav()">&times;</a>
              <ul class=" list-unstyled">
                    <li class="sidelinks">
                      <a class="" href="{% url 'app_home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="sidelinks">
                        <a class="" href="{% url 'profile'%}">Profile</a>
                    </li>

                        {% if user.is_authenticated %}
                        <li class="sidelinks">
                          <a class="" href="{% url 'logout' %}">Logout</a>
                        </li>
                        {% else %}
                         <li class="sidelinks">
                            <a class="" href="{% url 'register' %}">Sign up</a>
                          </li>
                          <li class="sidelinks">
                              <a class="" href="{% url 'login' %}">Login</a>
                          </li>
                        {% endif %}
                        <li class="sidelinks">
                            <a class="" href="#">Fake news detector</a>
                        </li>
                  </ul> </div>

                    
              </nav>
              <div >
                    <form class="form-inline my-2 my-lg-0" style="padding-top: 50px;margin-left: 450px">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search news" aria-label="Search" style="width: 600px">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
                    </form>

              </div>

              <br>

    <div class="container">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock content%}


    </div>


      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type="text/javascript">
  /* Set the width of the side navigation to 250px */
function openNav() {
    document.getElementById("mySidenav").style.width = "300px";
}

/* Set the width of the side navigation to 0 */
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}

<!--
var modal = getElementById("mySidenav");
window.onclick = function(event) {
    if (event.currentTarget == modal) {
      closeNav();
    }
    -->
</script>
</body>
</html>
