{% extends "app/base.html" %}
{% block content %}

<div id="shift">
      <form class="form-inline my-2 my-lg-0" style="padding-top: 50px;margin-left: 375px" >
      <input class="form-control mr-sm-2" type="search" placeholder="Enter URl of the News" aria-label="Enter" style="width: 600px" name = "news">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
</div>

<div class="row" style="padding: 10px;padding-left: 20px;padding-bottom: 20px" id="home">

  {% for article in articles %}
    <div class="resultcard" style="width:300px;height: 340px;margin-left: 30px ">
                <div >
                <img style="width:300px;height: 175px;" class="card-img-top" src={{ article.image }} alt="Card image cap" >
                </div>

                <div class="card-body" >
                  <h5 class="card-title">{{ article.title }}</h5>
                  <button class="btn btn-primary showmore">Read more</button>
                </div>
              </div>

              {% endfor %}
</div>
{% for article in articles %}
          <div class = 'popup'>
 
           <div class = 'modal-content' style = "display:block;">
           <div><span onclick="$('.popup').hide(); " class = 'close mr-3 mt-1'>&times; </span></div>
            <div class = 'mt-4'>
            <div>
              <h5 class=""> {{ article.summary }}</h5>
             

            </div>
            </div>
           </div>
          </div>
        
          {% endfor %}
          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
          <script>
            $(document).ready(function(){
              for( i = 1; i< 5; i++)
              {
                document.getElementsByClassName('showmore')[i-1].id="btn1" + i;
                document.getElementsByClassName('popup')[i-1].id = "popout" + i;

              }
              $("#btn11").on("click", function(){
                $("#popout1").show();
              
              });
              $("#btn12").on("click", function(){
                $("#popout2").show();
              
              });
              $("#btn13").on("click", function(){
                $("#popout3").show();
              
              });
              $("#btn14").on("click", function(){
                $("#popout4").show();
              
              });
            });
            </script>
{% endblock content %}
