nav{
height:  80px;
font-size: 20px;
color: white;
}

.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
  }
  .resultcard {
    min-height: 325px;
    width: 30%;
    margin: 1.5%;
    background-color: var(--color-white-dark);
    position: relative;
    transition: all .3s;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5); }
    .resultcard:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3); }
    .resultcard:active {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3); }
    .resultcard__img {
      width: 90%;
      height: 150px;
      display: inline-block;
      margin: 1rem 5%; }
    .resultcard__heading {
      padding: 0 2rem 0 2rem;
      font-size: 2rem; }
    .resultcard__source {
      position: absolute;
      bottom: .5rem;
      right: .5rem;
      text-align: right;
      padding: 2rem; }


     




.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /*9 Stay in place */
    z-index: 1;  /*Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    margin-right: 3px;
    transition: all 300ms ease-in-out;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.1s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #111111;
    cursor: pointer;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


.sidenav .closebtn:hover {
    color: red;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.fa{
  cursor: pointer;
}

.sidelinks{
  transition: 0.25s;
}

.sidelinks:hover{
  background-color: #FFFFFF;  
}

.popup {
    display:none; 
    position: fixed; 
    z-index: 1; 
    top:0%;
    padding-top: 40px;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.6); 
}

.modal-content{
    position: relative;
    margin: auto;
    padding: 0;
    z-index: 1;
    border: 1px solid #888;
    height: 70%;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 1s;
    animation-name: animatetop;
    animation-duration: 1s;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:-15px; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:-15px; opacity:1}
}

.close{
  z-index: 1
}


/*dropdown menu of search css*/
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    

}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-conten a:hover {background-color: #ddd;}

.sidelinks:hover .dropdown-content {display: block;
background-color: #f1f1f1;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
